{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% if user and not user.is_anonymous %}

{% else %}
<div class="col-md-12" style="margin-bottom: 70px">
	{% include 'navbar.html' %}
</div>

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Login</h1>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}

          <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <br /><br />
        <div class='col-sm-3'></div>
        <div class='col-sm-6'>
            <div class='col-sm-4'>
                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><i class="fa fa-facebook fa-5x" aria-hidden="true"></i></a>
            </div>
            <div class='col-sm-4'>
                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><i class="fa fa-google fa-5x" aria-hidden="true"></i></a>
            </div>
            <div class='col-sm-4'>
                <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<hr/>

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
    <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}?next={{ request.path }}">{% trans "Register" %}</a>!</p>
    </div>
</div>
{% endif %}
{% endblock %}
