{% load staticfiles %}
<div class="navbar navbar-inverse sticky-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200" style="padding:5px;">
	<div class="container">
		<div class="navbar-header">
			<div class="row"><a class="logo-left" href="/" style="margin-top:3px"><span><img src="{% static 'img/logo_white.png' %}" style="height:25px; margin-top:-5px"/></span> Ocazion</a></div>
		</div>
		<div class="navbar-right">
			{% if request.user.is_authenticated %}
				<a class="logo-left" href="{% url 'auth_logout' %}?next={{request.path}}" style="float:right; margin-top:15px; margin-right:10px; font-size:1.4em">Logout</a>
			{% else %}
				{% if not "/accounts/register/" in request.get_full_path %}
					<a class="logo-left" href="{% url 'registration_register' %}?next={{request.path}}" style="float:right; margin-top:15px; margin-right:20px; font-size:1.4em">Register</a>
				{% endif %}
				{% if not "/accounts/login/" in request.get_full_path %}
					<a class="logo-left" href="{% url 'auth_login' %}?next={{request.path}}" style="float:right; margin-top:15px; margin-right:20px; font-size:1.4em">Login</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
