{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-wrap">
	<div class="container">
		<div class="col-md-12">
			{% include 'navbar.html' %}
		</div>
		<div class="container-fluid" style="margin-top:75px">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<br><br>
				<p>
					Lack of existence of a well structured platform of venues to organise parties, with a user friendly interface, easing the work of the customers in order to find a reliable and appropriate venue as per their requirements.
					<br><br>
					We aim to provide a reliable platform that provides apt, concise information in a structured manner with real time environment (event calender of the venues)  which enables the customer to shortlist venues, saving their time and effort of visiting each and every location in person. 
					<br><br>
					We aim at centralising the database of all the locations that cater to our market. Our real time environment will provide them instant knowledge of the availability of the locations and the live chat system will enable the customer to communicate with our representative for instant solutions for their queries and confusions, providing them assistance in short listing the venues as per the customers’ demands and requirements. 
					<br><br>
					The availability of photographs and short videos of the venues will ease the selection process for the customer, providing a way of making a confident decision.  
					<br><br>
					Ease of navigation as we integrate Google maps of all the locations for an easy reach.
					Reviews and ratings of the customers will help everyone to share their experiences and views which will allow others to make the right choice while taking a decision. 
				</p>
				<br><br>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>

{% endblock %}